form{
    color: green;
    display: flex;
    flex-flow: column;
    width: 35%;
    align-items: center;
}

input{
    border-radius: 5px;
    height: 25px;
}
label{
}

.formContainers{
    display: flex;
    flex-flow: column;
    align-items: center;
}
.error{
    color: red;
}

.tagify__input {
    height: 25px;
    border-color: black;
}
.tagify {
    border: solid 2px black !important;
    border-radius: 5px;
}